<div class="page_titles">
    <div class="page_titlesInner">
        Contato
    </div>
</div>
<div id="content_inner">
    <br />
    Para falar com artista Beto Preah Parahyba, contratação para shows, workshop ou apenas para se informar, ligue para o número abaixo ou nos envie um email: <br />
    <br />
    <br />
    <div class="c_column">
        <div class="c_columnInner">

            <div class="titles">
                Shows <br />
                Ester Rolim <br />
            </div>
            Telefone: <span class="titles">83 8886-5113</span><br />
            E-mail: <a href="mailto:acasavaicair@hotmail.com" class="titles">acasavaicair@hotmail.com</a>
        </div>
    </div>

    <div class="c_column">
        <div class="c_columnInner">
            <div class="titles">
                Oficinas e workshops <br />
                Andromeda Drums Produções <br />
            </div>
            Telefone: <span class="titles">83 9641-1747</span> <br />
            E-mail: <a href="mailto:andromedadrums@gmail.com" class="titles">andromedadrums@gmail.com</a>
        </div>
    </div>
    <br style="clear: both;"/>
    <br />
    <br />
</div>