<div id="home_slider">
    <div id="home_slider_inner">
        <img src="/statics/site/images/pre_slider.png" alt="beto preah" />
    </div><!-- home_slider_inner -->
</div><!-- home_slider -->
<div id="slider_sub">
    <img src="/images/sliderSub.jpg" alt="Beto Preah" />
</div>
<div id="home_mention">
    <div id="home_mention_inner">
        <span class="main_t">"A música nasceu livre e seu destino é conquistar a liberdade."</span> <br />
        <span class="sub_t">Ferrucio Busoni</span>
    </div><!-- home_mention_inner -->
</div><!-- home_mention -->
<div id="content_inner">
    <div id="home_agenda">
        <img src="/statics/site/images/home_calendarTitle.png" alt="Agenda" />
        <br />
        <br />
        <!-- BEGIN EVENTOS_BLOCK -->
        <div class="home_agenda_evento">
            <div class="home_date">
                <div class="home_agenda_dia">
                    {DIA}
                </div>
                <div class="home_agenda_mes">
                    {MES}
                </div>
            </div>
            <div class="home_date2">
                {DIA} - {MES}
            </div>
            <div class="home_event_text">
                <span class="event_titulo">{NOME}</span> <br />
                Horário: {HORARIO} <br />
                Local: {LOCAL}
            </div>
            <br style="clear: both;" />
        </div>
        <!-- END EVENTOS_BLOCK -->
    </div><!-- home_agenda -->
    <div id="home_about">
        <img src="/statics/site/images/home_aboutTitle.png" alt="Sobre Beto" /><br />
        <br />
        Beto Preah Parahyba é natural da cidade de Santa Rita-PB. É ritmista 
        Pesquisador compositor, além de arranjador e professor de bateria. Em 
        2005 lançou seu CD solo chamado "Tambores da América do Sul". Atualmente
        Preah Parahyba está acompanhado o cantor rabequeiro poeta popular BETO 
        BRITO (tour pelo Brasil e EUROPA com o CD IMBOLE e o livro CD BAZOFIA de
        um cantador pai degúa) ...
    </div><!-- home_about -->
    <div id="home_endorse">
        <img src="/statics/site/images/home_endorseSeparator.png" alt="-" class="separatorImg" />
        <div id="home_endorseLogos">
            <img src="/statics/site/images/home_cIbanez.png" alt="cIbanez Baquetas" />
            <img src="/statics/site/images/home_pearl.png" alt="Pearl Drumms" />
        </div><!-- home_endorseLogos -->
    </div><!-- home_endorse -->
</div><!-- content_inner -->