<form method="post" action="/admin/agenda/addEvento">
    Nome: <br />
    <input type="text" name="nome" /> <br />
    <br />

    Descrição: <br />
    <textarea name="descricao"></textarea> <br />
    <br />

    Local: <br />
    <input type="text" name="local" /> <br />
    <br />

    Data (dd/mm/aaaa): <br />
    <input type="text" name="date" tipo="numerico" mascara="##/##/####" /> <br />
    <br />

    Horário (hh:mm): <br />
    <input type="text" name="horario" tipo="numerico" mascara="##:##" /> <br />
    <br />

    Ingresso: <br />
    <input type="text" name="ingresso" tipo="decimal" /> <br />
    <br />

    <input type="submit" value="Enviar" />
</form>