Agenda <br />
<hr />
<a href="#agenda/add_evento">[+] Adicionar novo evento</a>
<table>
    <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>Descrição</td>
        <td>Horário</td>
        <td>Data</td>
        <td>Local</td>
        <td>Ingresso</td>
    </tr>
    <!-- BEGIN EVENTOS_BLOCK -->
    <tr>
        <td>{ID}</td>
        <td>{NOME}</td>
        <td>{DESCRICAO}</td>
        <td>{HORARIO}</td>
        <td>{DATA}</td>
        <td>{LOCAL}</td>
        <td>{INGRESSO}</td>
    </tr>
    <!-- END EVENTOS_BLOCK -->
</table>