/* 
    Created on : Mar 30, 2014, 7:53:03 AM
    Author     : Angreh
*/
@media screen and (min-width: 1150px) {
    #header_inner {
        position: relative;
        width: 1100px;
        height: 112px;
        margin: 0 auto;
    }
    /* content */
    #content_inner {
        width: 1100px;
        margin: 0 auto;
        text-align: justify;
    }
    #home_slider_inner {
        width: 1100px;
        margin: 0 auto;
    }
    #home_mention .sub_t { font-size: 18px; color: #c50000; margin-left: 400px; }
    #home_agenda {
        float: left;
        width: 530px;
        font-size: 14px;
        padding-top: 50px;
    }
    .home_date {
        float: left;
        width: 40px;
        position: relative;
    }
    .home_date2 {
        display: none;
    }
    .home_event_text {
        float: right;
        width: 475px;
    }
    #home_about {
        float: right;
        width: 530px;
        font-size: 14px;
        line-height: 24px;
        padding-top: 50px;
    }
    .page_titlesInner {
        width: 1100px;
        margin: 0 auto;
        padding: 30px 0 30px 0;
        font-size: 30px;
        color: #fff;
    }
    #footer {
        background-color: #2d343e;
        background-image: url(/statics/site/images/footer_bg.gif);
        background-repeat: repeat-x;
        height: 405px;
    }
    #footer_inner {
        width: 1100px;
        margin: 0 auto; 
        position: relative;
    }
    #footer_logo {
        position: absolute;
        top: 60px;
        left: 0;
    }
    #footer_about {
        position: absolute;
        width: 394px;
        top: 115px;
        left: 0;
        color: #8f97a3;
        font-size: 12px;
    }
    #footer_tTitle {
        position: absolute;
        top: 72px;
        left: 480px;
    }
    #footer_tList {
        position: absolute;
        top: 118px;
        right: 0;
    }
    #footer_tList img {
        margin-left: 20px;
    }
    #footer_copyright {
        position: absolute;
        top: 353px;
        left: 0;
        color: #8f97a3;
    }
    #footer_sociaMedia {
        position: absolute;
        top: 347px;
        right: 0;
    }
    #footer_sociaMedia img {
        margin-left: 15px;
    }
}
